<tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td>
        <%= form_for task, remote: true do |f| %>
            <%= f.check_box :status, checked: task.done?, onchange: "this.setAttribute('data-params', 'task[status]=' + (this.checked ? 'done' : 'todo'))", data: {url: task_path(task), remote: true, method: :patch} %>
        <% end %>
    </td>
    <td><%= task.expire_at.to_date %></td>
    <td>
        <%= button_tag 'X', 'data-url' => task_path(task), 'data-remote' => true, 'data-method' => :delete, class: "btn btn-sm #{task.status.to_i.zero? ? 'btn-dark' : 'btn-success'}" %>
    </td>
</tr>
