<section class="tasks-container">
    <h2>Tasks</h2>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 250px;">Title</th>
            <th style="width: 150px;">Describe</th>
            <th style="width: 103px;">Status</th>
            <th style="width: 200px;">Expire At</th>
            <th>
                <%= link_to 'Toggle Filters', '#collapseFilter', data: { toggle: "collapse" }, class: 'badge badge-light' %>
            </th>
        </tr>
        <tr class="collapse" id="collapseFilter">
            <td>
                <%= form_tag tasks_path, method: :get, remote: true do |f| %>
                    <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'search form-control' %>
                <% end %>
            </td>
            <td></td>
            <td>
                <%= form_tag tasks_path, method: :get, remote: true do |f| %>
                    <%= check_box_tag 'done_only', false, false, {data: {remote: true}} %>
                <% end %>
            </td>
            <td>
                <%= form_tag tasks_path, method: :get, remote: true do |f| %>
                    <%= label :expire_at, "All" %>
                    <%= radio_button_tag 'date_filter', 'all', true, {data: {remote: true}} %>

                    <%= label :expire_at, "Future" %>
                    <%= radio_button_tag 'date_filter', 'future', false, {data: {remote: true}} %>
                    <%= label :expire_at, "Expired" %>
                    <%= radio_button_tag 'date_filter', 'expired', false, {data: {remote: true}} %>
                <% end %>
            </td>
        </tr>
        </thead>
        <tbody class="tasks-list">
        <%= render partial: 'task', collection: @tasks %>
        </tbody>
    </table>
    <div class="tasks-pagination">
        <%= paginate(@tasks, remote: true) %>
    </div>
</section>
