<section class="creat-task-section">
  <%= render 'modal' %>
</section>

<section class="tasks-container">
  <h2>Tasks</h2>

  <%= form_tag tasks_path, method: :get, remote: true do |f| %>
    <%= text_field_tag :q, params[:q], placeholder: 'Type title', class: 'search' %>
    <%= select_tag :s, options_for_select([ "", "1", "0" ], params[:s])%>
    <%= date_field_tag :d, params[:d] %>
    <%= select_tag :f, options_for_select([ "all dates", "expired", "not expired"], params[:f] || "all dates"), class: "search_sel"%>
    <%= submit_tag "Search", class: "btn btn-info btn-sm", id: "search_btn" %>
  <% end %>

  <ul class="tasks-list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
	
	<%= will_paginate @tasks %>
	<%-# js_will_paginate -%>
</section>