<h1 class="display-2 text-center">TodoList</h1>
<p class="lead text-center">Welcome to my todoList applications</p>

<%= form_tag tasks_path, method: :get, class: 'search-form', remote: true do |f| %>
    <div class="form-row">
        <div class="col-6">
            <%= text_field_tag :q, params[:q], placeholder: t('.search'), class: 'form-control search' %>
        </div>
        <div class="col">
            <%= select_tag :status, options_for_select(Task.statuses.keys, params[:status]), class: 'form-control', prompt: 'All' %>
        </div>
        <div class="col">
            <%= select_tag :expired, options_for_select(['Expired', 'Feature'], params[:status]), class: 'form-control', prompt: 'All' %>
        </div>
        <div class="col">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
        </div>


    </div>
<% end %>
<div class="row list-container">
  <ul onclick="handleCheckbox(event)" id="list" class="list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
  <%= will_paginate @tasks %>
</div>
