<section class="creat-task-section">
  <%= render 'modal' %>
</section>

<section class="tasks-container">
  <h2>Tasks</h2>

  <%= form_tag tasks_path, method: :get, remote: true do |f| %>
    <%= text_field_tag :q, params[:q], placeholder: 'Search', class: 'search' %>
  <% end %>

  <ul class="tasks-list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
	
	<%= will_paginate @tasks %>
	<%-# js_will_paginate -%>
</section>