%h2 New Task
= form_for @task, remote: true do |f|
  - flash.each do |key, value|
    %div{:class => "flash_class"}
      = value
  %br
  = f.label :title
  %br/
  = f.text_field :title
  %br/
  = f.label :description
  %br/
  = f.text_field :description
  %br/
  = f.label :status
  %br/
  = f.select :status, ["neww", "done"]
  %br/
  = f.label :expire_at
  %br/
  = f.datetime_field :expire_at
  = f.button :OK

%br
%h2 Tasks
%br
(move cursor on title if you want to see a description)

= form_tag tasks_path, method: :get do |f|
  = text_field_tag :q, params[:q]
  = submit_tag :Search
%ul
  - @tasks.each do |b|
    %li
      %a{:title => "#{b.description}"} #{b.title}
      = check_box_tag :status, {}
      %br
      Expire at: #{b.expire_at}
      = button_tag 'X', 'data-url' => task_path(b), 'data-remote' => true, 'data-method' => :delete, 'class' => "button_xxx"
