<h1>New Task</h1>
<%= form_for @task, remote: true do |f| %>
  <%= f.label 'Title' %>
  <%= f.text_field :title %>
  <br/>
  <%= f.label 'Description' %>
  <%= f.text_field :description %>
  <br/>
  <%= f.label 'Expire At' %>
  <%= f.datetime_select :expire_at %>
  <br/>
  <%= f.button :OK %>
<% end %>
<div id="errors"></div>

<h2>Tasks</h2>
<%= form_tag tasks_path, remote: true, method: :get do |f| %>
  <%= text_field_tag :search_query, params[:search_query] %>
  <%= submit_tag :Search %>
<% end %>
<div id="tasks-list">
  <%= render('tasks/tasks-list') %>
</div>
