<!DOCTYPE html>
<html>
<head>
  <title>Lesson4</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>

<body>
<% if @current_user %>
  <%= render 'layouts/header' %>
<% end %>
<%= flash_messages %>
<div class="hero">
  <div class="container">
    <%= yield %>
  </div>
</div>
<%= render 'tasks/popup' %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-hidden="true"></div>
</body>
</html>
