<!DOCTYPE html>
<html>
  <head>
    <title>Lesson4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-hidden="true"></div>

  </body>
</html>
